################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/.vs/Web/v16/Server/sqlite3
/Web/Web/obj
/Web/.vs/Web/v16/.suo
/Web/.vs/Web/DesignTimeBuild
